@import '../../shared-styles/variables.module.less';

.socket-controls {
  width: 100px;
  background-color: fade(@highlight-color, 30%);
  font-size: @spacing-unit * 3;
  color: @highlight-color;
  text-align: center;
}

.disabled {
  color: rgb(200, 200, 200);
}
