@import '~antd/lib/style/color/colors.less';

@spacing-unit: 8px;

// layout variables used for calculations where needed (a hack needed until I find the silver bullet for dynamic chat content)
@footer-size: @spacing-unit * 8;
@header-size: @spacing-unit * 8;

@main-color: @purple-base;

@main-color-very-light: @purple-1;
@main-color-lighter: @purple-4;
@main-color-darker: @purple-8;
@highlight-color: @gold-4;

// todo: move to functions.module.less
.padding-x(@padding-size) {
  padding-left: @padding-size;
  padding-right: @padding-size;
}
