@import '../shared-styles/variables.module.less';

.app-footer {
  height: @footer-size;
  flex-grow: 1;
  box-sizing: border-box;
}

.footer-content {
  text-align: center;
  line-height: @footer-size;
}
