@import './shared-styles/variables.module.less';

.app-footer {
  text-align: center;
  padding: 20px;
}

.app-content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
